exp_name: MAAC
result_dir: ../results/MAAC
# 第一个cuda device的编号, -1代表cpu
first_device: 0
# cuda device的数量, 使用cpu时无效
gpus: 1
seed: 42
cooperative: 0
environment:
  n_uav: 10
  m_targets: 10
  x_max: 2000
  y_max: 2000
  na: 12  # 离散化动作空间维数

uav:
  dt: 1
  v_max: 20
  h_max: 6  # 表示 pi / 6
  dc: 500
  dp: 200
  alpha: 0.6
  beta: 0.2
  gamma: 0.2

target:
  v_max: 5
  h_max: 6  # 表示 pi / 6



